/* Custom scrollbar styles */
::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #EFEDE2;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}